@include exports("drawer/layout") {

    .drawerContent,
    .drawerContainer,
    .drawerContainer .drawer-items {
        overflow-y: auto;

        /* Scrollbar styles for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            width: $drawer-scrollbar-width;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: $drawer-scrollbar-radius;
        }
    }

    .drawerContainer {
        border-style: solid;
        border-width: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .drawer-items {
            padding: 0;
            width: 0;
            transition: all .3s ease-out;
            overflow-x: hidden;

            .drawer-item {
                display: block;
                line-height: $drawer-item-line-height;
                font-size: 16px;
                padding: $drawer-item-padding-y $drawer-item-padding-x;

                &.drawer-separator {
                    padding: 0;
                    height: 1px;
                }
            }

            .k-icon {
                display: inline-block;
                font-size: $drawer-icon-size;
                padding: 0 $drawer-item-padding-x;
            }

            .item-text {
                display: inline-block;
                padding: 0 $drawer-item-padding-x;
            }
        }

        &.expanded {
            border-width: $drawer-border-width;

            .drawer-items {
                width: $drawer-initial-width; /* Default width of sidebar */
            }
        }
    }

    .outerWrapper {
        position: relative;
        overflow-x: hidden;

        &.miniMode {
            .drawer-items {
                overflow-y: visible;
                overflow-x: initial;
                width: $drawer-mini-initial-width; /* Default width of mini sidebar */
            }

             &.expanded .drawer-items {
                width: $drawer-initial-width; /* Default width of sidebar */
            }
        }

        &.overlay {
            .drawerContainer {
                position:absolute;
                left: 0;
                right: auto;
                z-index: 1;
                max-height: 100%;
            }

            &.miniMode {
                .drawerContent {
                    padding-left: $drawer-mini-initial-width;
                }
            }
        }


        &.push {
            display: flex;

            .drawerContent {
                flex: 1 1 auto;
            }

            .drawerContainer {
                position: relative;
                flex: 0 0 auto;
            }
        }

        .overlayContainer {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #000;
            opacity: 0.6;
        }

        &.expanded  {
            .overlayContainer {
                display: block;
            }
        }

        &.right {
            &.overlay {
                .drawerContainer {
                    left: auto;
                    right: 0;
                }

                &.miniMode {
                    .drawerContent {
                        padding-left: 0;
                        padding-right: $drawer-mini-initial-width;
                    }
                }
            }

            &.push {
                .drawerContainer {
                    order: 2;
                }

                .drawerContent {
                    order: 1;
                }
            }
        }
    }

    .k-rtl,
    [dir="rtl"] {

        .outerWrapper {
            &.push {
                .drawerContainer {
                    order: 2;
                }

                .drawerContent {
                    order: 1;
                }
            }

            &.right {
                &.push {
                    .drawerContainer {
                        order: 1;
                    }

                    .drawerContent {
                        order: 2;
                    }
                }
            }
        }
    }
}
